@charset "UTF-8";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: #ececec;
}
.margin50px{
    margin-top: 50px;
}
.apply_title{
    width:100%;
    background-color: #ececec;
    font-size:25px;
    padding-left:180px;
    padding-top:40px;
}
.apply_header{
    width:78%;
    height:70px;
    display:flex;
    border:1px solid #e2e2e2;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top:18px;
}
.apply_header_title{
    font-size: 22px;
    margin-left:40px;
}
.apply_header_button{
    width:300px;
    margin-right:40px;
    display:flex;
    justify-content: space-around;
}
.apply_header_btn{
    width:90px;
    height:40px;
    font-size: 16px;
    background-color: #fff;
    border:1px solid black;
    cursor: pointer;
}
.margin5px{
    margin-right: 5px;
}
.apply_header_submit{
    width:90px;
    height:40px;
    font-size: 16px;
    color:white;
    background-color: #2dc26b;
    border:none;
    cursor: pointer;
}
.apply_main{
    width:78%;
    display:flex;
    border:1px solid #e2e2e2;
    align-items: center;
    background-color: white;
    margin-top:15px;
    margin-bottom: 90px;
    padding-bottom:40px;
}
.apply_content{
    display:flex;
    flex-direction:column;
    margin-top:48px;
    margin-left:60px;
    margin-right:40px;
}
.apply_content > p,
.ap_div3 > p{
    font-size: 18px;
}

.ap_inpt{
    font-size: 14px;
    height: 38px;
    padding: 0 10px;
    border: 1px solid #b2b2b2;
    line-height: 38px;
    outline:none;
}
.ap_inpt:focus{
    outline:none;
    border-color:#2dc26b;
}
.ap_inpt2{
    font-size: 14px;
    height: 38px;
    padding: 0 10px;
    border: 1px solid #b2b2b2;
    line-height: 38px;
    outline:none;
}
.apply_name{
    width:178px;
}
.apply_birth{
    width:128px;
}
.apply_email{
    width:228px;
}
.ap_mydetail{
    margin-top:10px;
}
.apply_gender{
    width:80px;
}
.apply_major{
    width:78px;
}
.apply_minor{
    width:85px;
}
.apply_grade{
    width:50px;
}
.apply_total{
    margin-left: -7px;
}
.apply_date3{
    width:77px;
}
.ap_grade{
    display: flex;
    align-items: center;
}
.apply_edu_university{
    margin-left:5px;
    display: none;
}
.apply_edu_highschool{
    margin-left:5px;
}
.ap_certi{
    display:flex;
    align-items: center;
}
.apply_qualification{
    margin-left:5px;
}
.apply_language_skill{
    margin-left:5px;
    display: none;
}
.apply_language{
    width:75px;
}
.apply_langGrade{
    width:60px;
}
.apply_grade_status{
    width:85px;
}
.apply_tel{
    width:144px;
}
.apply_howfound{
    width:260px;
    padding-left:5px;
}
.apply_cname{
    width: 153px;
}
.apply_dname{
    width:135px;
}
.apply_date{
    width:103px;
}
.apply_duty{
    width:104px;
}
.from_to {
    color: #b2b2b2;
}
.apply_position{
    width:100px;
    padding-left:5px;
}
.apply_careerbtn{
    margin-left:8px;
    width:70px;
}

.text_area{
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    width: 828px;
    height: 78px;
    margin-top: 8px;
    padding: 10px;
    border: 1px solid #b2b2b2;
    font-size: 12px;
    line-height: 21px;
    resize: none;
}
.cr_noti ul{
    list-style-position: inside;
    margin: 0;
    padding: 0;
    margin-top:10px;
}
.cr_noti li{
    font-size: 12px;
    line-height: 18px;
    color: gray;
    
}
.apply_edu{
    width:131px;
    padding-left:5px;
}
.apply_edu2{
    width:98px;
    padding-left:5px;
}
.apply_date2{
    width:144px;
}
.apply_shcname2{
    width:100px;
}
.apply_certi{
    width:80px;
    padding-left:5px;
}
.apply_type{
    width:154px;
}
.apply_level{
    width:96px;
}
.apply_cdate{
    width:108px;
}
.apply_auth{
    width:143px;
}
.apply_label{
    font-size: 13px;
}
.warning_label{
    margin-top: 10px;
    color:#2dc26b;
}
.ap_profile{
    margin-top: 20px;
}
.apply_profile{
    font-size: 14px;
}
.filebox .upload-name {
    /* display: inline-block; */
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 500px;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
#apply_inquire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.apply_mili{
    width:228px;
    padding-left:5px;
}
.apply_disorder{
    width:138px;
    padding-left:5px;
}
hr{
    width:50%;
    justify-content: center;
}
.apply_footer_button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-top: 75px;
    padding: 60px 0 30px;
    border-top: 1px solid #e6e6e6;
    text-align: center;
}
.btn_size{
    box-sizing: border-box;
    width:180px;
    height:60px;
    margin-left: 20px;
    font-size: 18px;
}
.eduinput{
    display:none;
    flex-direction: column;
    margin-top: 5px;
}
#edu_major,
#edu_minor,
#edu_grade,
#edu_date,
#edu_state,
#edu_remove
{
    margin-left: 20px;
}
#edu_info{
    display: flex;
    margin-top:5px;
}

.careerinput{
    display:none;
    flex-direction: column;
    margin-top: 5px;
}

#car_departmentName,
#car_date,
#car_duty,
#car_position,
#car_remove
{
    margin-left: 20px;
}
#car_info{
    display: flex;
    margin-top:5px;
}

.certinput{
    display:none;
    flex-direction: column;
    margin-top: 5px;
}
#cert_info{
    display: flex;
    margin-top:5px;
}
#cert_level,
#cert_acquisition,
#cert_lssuingAuthority,
#cert_test,
#cert_grade,
#cert_remove{
    margin-left: 20px;
}
