*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.main_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    width: 100%;
    height: 800px;
    background-color:rgb(97, 97, 97);
    color: white;
}

.company_title_text{
    font-size: 85px;
    font-weight: bold;
}

.select_filter_box{
    display: flex;
}

.select_category_box{
    padding-top: 50px;
    display: flex;
    border-bottom: 1px solid white;
}

.select_region_menu, .select_city_menu, .select_jobunit_menu{
    border: none;
    color: wheat;
    background-color:rgb(97, 97, 97);
    width: 200px;
    font-size: 20px;
}

.go_resume_by_filter{
    display: flex;
    padding-top: 50px;
}