*{
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-top: 100px;
}

.member_info_box{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.member_info_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.member_name_text{
    font-size: 25px;
    font-weight: bold;
}

.member_modify_btn_box{
    display: flex;
    align-items: center;
}

.member_modify_text1, .member_modify_text2, .member_modify_text3{
    font-size: 13px;
    margin-right: 10px;
    cursor: pointer;
}

.gray_color{
    color: gray;
}

.member_info_box_footer{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.member_email_box, .member_birth_box, .member_tel_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 70px;
    padding: 20px;
    border-right: 1px solid rgb(163, 163, 163);
}

.member_tel_box{
    border: none;
}

.member_email, .member_birth, .member_tel{
    font-size: 20px;
    font-weight: bold;
}

.member_support_main{
    background-color: #f5f5f5;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    
}

.member_resume_status_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.member_resume_status_text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.member_modify_resume_title, .member_status_title{
    font-size: 20px;
    font-weight: bold;
}

.member_write_resume_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 150px;
    border: 1px solid rgb(194, 194, 194);
    padding: 20px;
    background-color: white;
}

.member_write_resume_content_modify, .member_write_resume_content{
    display: flex;
    justify-content: space-between;
}

.notice_title_box, .submitted_resume_box, .faq_title_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notice_title, .faq_title{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.notice_title_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.write_resume_date, .submission_resume_date{
    padding-top: 5px;
    font-size: 13px;
    color: gray;
}

.show_acceptance_status{
    display: flex;
    justify-content: center;
    align-items: center;
}

.temporary_storage_text{
    font-size: 13px;
}

.submitted_resume_text{
    font-size: 13px;
    padding-bottom: 10px;
}


.temporary_storage_resume{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}

.write_resume_icon_box{
    display: flex;
    color: gray;
}

.show_resume, .modify_resume, .delete_resume{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.icon_size{
    font-size: 20px;
    cursor: pointer;
}


.resume_text{
    padding-top: 10px;
    font-size: 13px;
    cursor: pointer;
}

.submitted_resume_box{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.show_acceptance_status{
    display: flex;
}

.go_to_resume{
    cursor: pointer;
}

.show_acceptance_status{
    display: flex;
}

.member_write_faq_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    border: 1px solid rgb(194, 194, 194);
    padding: 20px;
    background-color: white;
}

.show_faq_answer_status{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.not_temporary_storage_resume_box, .not_faq_box, .not_resume_box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 260px;
    border: 1px solid rgb(194, 194, 194);
    padding: 20px;
    background-color: white;
}

.none_content_text{
    font-size: 25px;
    color: gray;
}

.user_info_modify_modal,
.user_pw_modify_modal,
.user_delete_modal,
.user_faq_modal{
    position: fixed;
    z-index: 200;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.user_show_resume_modal{
    position: fixed;
    z-index: 200;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.user_show_resume_modal_body{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    width: 1100px;
    height: calc(100% - 186px);
    background-color: white;
    transform: translate(8%, -50%);
    overflow-y: none;
    padding: 60px;
    z-index: 100;
}

.user_info_modify_modal_body,
.user_pw_modify_modal_body,
.user_delete_modal_body,
.user_faq_modal_body{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    width: 550px;
    height: 600px;
    background-color: white;
    transform: translate(70%, -50%); /* 중앙 정렬 수정 */
    overflow-y: none;
    padding: 60px;
    z-index: 100;
}


.modal_close_btn, .modal_close_btn2, .modal_close_btn3{
    cursor: pointer;
}

.modify_modal_title{
    font-size: 15px;
    font-weight: bold;
}

.user_email_info{
    display: flex;
    flex-direction: column;
}

.user_email{
    font-size: 13px;
    font-weight: bold;
}

.modify_modal_main{
    width: 100%;
}

.modify_main_title{
    font-size: 13px;
}

.modify_info{
    width: 100%;
    height: 30px;
}

.modify_info:focus{
    border-color: lightgreen;
    outline: none;
}

.alert_text{
    font-size: 12px;
    color: gray;
}

.error_msg{
	font-size: 12px;
}