*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding-top: 130px;
    padding-bottom: 130px;
}

.notice_box_container{
    display: flex;
    flex-direction: column;
}

.notice_info_header{
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 50px;
    
}

.notice_title{
    font-size: 50px;
    padding-bottom: 30px;
    font-weight: bold;
}

.company_advertising_slide{
    width: 100%;
    height: 100px;
    border: 1px solid gray;
}

.career_category{
    display: flex;
    padding-top: 30px;
}

.category_item{
    font-size: 20px;
    margin-right: 15px;
    font-weight: bold;
    color: gray;
}

.dividing_line{
    width: 100%;
    border-bottom: 1px solid gray;
}

.notice_info_main{
    width: 100%;
    display: flex;
    padding-top: 50px;
}

.filter_box_container{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-left: 50px;
}

.filter_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_box_item{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.filter_text{
    font-size: 20px;
    font-weight: bold;
}

.clear_filter_btn{
    background-color: white;
    border: 1px solid gray;
    width: 90px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}

.notice_list_box{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 70px;
    padding-right: 30px;
}

.search_jobs_box{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.search_btn{
    border: none;
    cursor: pointer;
}

.search_icon{
    font-size: 20px;
}

.search_jobs{
    font-size: 20px;
    padding-left: 10px;
    width: 70%;
    border: none;
}

.notice_guide_text{
    padding-top: 50px;
    font-size: 20px;
    color: green;
}

.notice_list_item{
    cursor: pointer;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
}

.notice_info_title{
    display: flex;
    flex-direction: column;
    cursor : pointer;
}

.notice_title_text{
    font-size: 25px;
    font-weight: bold;
}

.notice_filter{
    padding-top: 10px;
}

.notice_filter_text{
    color: gray;
    margin-right: 5px;
}

.scrap{
    cursor: pointer;
}