<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
					
<mapper namespace="admin_mapper">


	<select id="findLoginAdmin" parameterType="Admin" resultType="Admin">
		SELECT * FROM ADMINISTRATOR WHERE admin_id=#{adminId} and admin_pw=#{adminPw}
	</select>
	
	
	<!-- 관리자ID로 조회 -->
	<select id="findAdminByAdminId" parameterType="String" resultType="Admin">
		SELECT * FROM ADMINISTRATOR
		WHERE admin_id=#{id}
	</select>
	
	
	<!-- 직원ID로 조회 -->
	<select id="findAdminByEmployeeId" parameterType="String" resultType="Admin">
		SELECT * FROM ADMINISTRATOR
		WHERE employee_id=#{employeeId}
	</select>
	
	
	<!-- 관리자 저장(생성) -->
	<insert id="saveAdmin" parameterType="Admin">
		insert into ADMINISTRATOR values ( #{adminId}, #{adminPw}, #{employeeId}, #{permissionCode}, NOW() ) 
	</insert>
	
	
	<select id="findAdminList" resultType="Admin">
	SELECT *
	FROM administrator ad
	JOIN employee e ON e.employee_ID = ad.employee_ID
	JOIN jobs js ON e.jobs_id = js.jobs_id
	</select>
	
	
	<select id="findAdminListByPermissionCode" resultType="Admin" parameterType="String">
		SELECT * FROM ADMINISTRATOR
		WHERE permission_code = #{permissionCode}
	</select>
	
	
	<select id="findAdminListBySearchCondition" resultType="Admin" parameterType="AdminSearchCondition">
		SELECT
	ad.admin_ID AS admin_id,
	e.name AS name,
	e.employee_ID AS employee_id,
	js.jobs_name AS jobs_name,
	e.tel AS tel,
	e.email AS email,
	ad.permission_code AS permission_code,
	ad.creation_code AS creation_code,
	ad.user_status AS user_status
	FROM administrator ad
	JOIN employee e ON e.employee_ID = ad.employee_ID
	JOIN jobs js ON e.jobs_id = js.jobs_id
	WHERE 1 = 1 
	
	<!-- 검색어 -->
	<if test="searchKeyword != null and !searchKeyword.isEmpty()"> 
		AND ( ad.admin_id LIKE '%' || #{searchKeyword} || '%' 
		OR js.jobs_name = #{searchKeyword} 
		OR e.name LIKE '%' || #{searchKeyword} || '%' 
		OR e.tel LIKE '%' || #{searchKeyword} || '%'
		OR e.email LIKE '%' || #{searchKeyword} || '%'
		OR e.employee_id LIKE '%' || #{searchKeyword} || '%' ) 
		</if>
		
		<!-- 
		<if test="adminId != null and adminId != ''">
			AND ad.admin_id = #{searchKeyword}
		</if>
		<if test="jobsName != null and jobsName != ''">
			AND js.jobs_name = #{searchKeyword}
		</if>
		<if test="name != null and name != ''">
			AND e.name = #{searchKeyword}
		</if>
		<if test="tel != null and tel != ''">
			AND e.tel = #{searchKeyword}
		</if>
		<if test="email != null and email != ''">
			AND e.email = #{searchKeyword}
		</if>
		<if test="employeeId != null and employeeId != ''">
			AND e.employee_id = #{searchKeyword}
		</if>
		 -->
		<!-- 생성일자 -->
		<if test="creationCode != null and creationCode != ''">
		<if test="startDate != null and startDate != ''">
			AND TO_DATE(ad.creation_code, 'YYYY-MM-DD') >= TO_DATE(#{startDate},
			'YYYY-MM-DD')
		</if>
		<if test="endDate != null and endDate != ''">
			AND TO_DATE(ad.creation_code, 'YYYY-MM-DD') &lt;= TO_DATE(#{endDate},
			'YYYY-MM-DD')
		</if>
		</if>
		<if test="hireDate != null and hireDate != ''">
		<if test="startDate != null and startDate != ''">
			AND TO_DATE(e.hire_date, 'YYYY-MM-DD') >= TO_DATE(#{startDate},
			'YYYY-MM-DD')
		</if>
		<if test="endDate != null and endDate != ''">
			AND TO_DATE(e.hire_date, 'YYYY-MM-DD') &lt;= TO_DATE(#{endDate},
			'YYYY-MM-DD')
		</if>
		</if>
		
		
		<if test="permissionCode != null and permissionCode != ''">
			AND ad.permission_code = #{permissionCode}
		</if>
	</select>
	
	
	
	<!-- 직원 등록 -->
	<insert id="saveEmployeeProfile" parameterType="EmployeeProfile">
		INSERT INTO EMPLOYEE
		VALUES ( 'emp'||EMP_ID_SEQ.NEXTVAL, #{imagePath}, #{jobsId}, #{name}, #{phone}, #{tel}, #{birth}, #{gender}, #{address}, #{hireDate}, #{email} )
	</insert>
	
	
	<select id="findEmployeeProfileByName" parameterType="String" resultType="EmployeeProfile">
		SELECT *
		FROM EMPLOYEE
		WHERE name = #{name}
	</select>
	
	
	<select id="findEmployeeList" resultType="Employee">
		SELECT * FROM EMPLOYEE
	</select>
	
	
	<select id="findEmployeeListByJobsId" resultType="Employee" parameterType="String">
		SELECT * FROM EMPLOYEE
		WHERE jobs_id = #{jobsId}
	</select>
	
	
	
	<select id="findEmployeeListBySearchCondition" resultType="Employee" parameterType="EmployeeSearchCondition">
		SELECT * FROM EMPLOYEE
		WHERE 1 = 1 
		<if test="employeeId != null and employeeId != ''">
			AND employee_id = #{searchKeyword}
		</if>
		<if test="jobsId != null and jobsId != ''">
			AND jobs_id = #{jobsId}
		</if>
		<if test="name != null and name != ''">
			AND name LIKE '%' || #{searchKeyword} || '%'   
		</if>
		<if test="phone != null and phone != ''">
			AND phone LIKE '%' || #{searchKeyword} || '%'   
		</if>
		<if test="tel != null and tel != ''">
			AND tel LIKE '%' || #{searchKeyword} || '%'   
		</if>
		<if test="birth != null and birth != ''">
			AND birth BETWEEN #{birthStartDate} AND #{birthEndDate}  
		</if>
		<if test="gender != null and gender != ''">
			AND gender = #{gender}
		</if>
		<if test="address != null and address != ''">
			AND address = #{address}
		</if>
		<if test="hireDate != null and hireDate != ''">
			AND hire_date BETWEEN #{hireStartDate} AND #{hireEndDate}  
		</if>
		<if test="email != null and email != ''">
			AND email LIKE '%' || #{searchKeyword} || '%'  
		</if>
	</select>
	
	
</mapper>	