*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header_menu{
    width: 100%;
    display: flex;
    height: 90px;
    padding: 30px;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid black;
}

.header_menu1{
    display: flex;
}

.header_title{
    font-size: 23px;
    font-weight: bolder;
    margin-right: 20px;
    cursor: pointer;
}
.header_menu1_list{
    display: flex;
    padding-left: 30px;
}

.header_menu1_list_item{
    font-size: 20px;
    margin-right: 30px;
    cursor: pointer;
}

.header_menu1_list_item:hover{
    transition: 2s;
    border-bottom: 2px solid blue;
}


.header_menu2{
    display: flex;
    justify-content: center;
    align-items: center;
}



.header_menu2_list2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_menu2_list2_item{
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.header_menu2_list1_item{
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 20px;
}

.fa-globe{
    margin: 0;
}

.line_bar{
    text-align: center;
    width: 1px;
    height: 23px;
    border-left: 1.5px solid lightgray;
}

.login_btn{
    border: none;
    cursor: pointer;
}

.search_text{
    cursor: pointer;
}

.select_country{
    font-size: 15px;
    border: none;
}

