<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="apply_mapper">
	<!-- <insert id="saveEducationInfo" parameterType="educationForm">
		INSERT INTO education
		VALUES ( 1, 101, #{eduSortation}, #{schoolName}, #{admission}
		, #{graduation}, #{major}, #{minor}, #{grade}, #{totalScore}, #{graduationStatus})
	</insert> -->
	
	
	
	<!-- <insert id="saveEducationInfo" parameterType="HashMap">

	<foreach collection="Map" item="item" separator=","
		open="INSERT ALL" close="SELECT * FROM SYS.DUAL">
		INTO education VALUES
		(
		edu_seq.nextval, resume_seq.nextval, #{item.eduSortation}, #{item.schoolName},
		#{item.admission}, #{item.graduation}, #{item.major}, #{item.minor},
		#{item.grade}, #{item.totalScore}, #{item.graduationStatus}
		)
	</foreach>
	</insert> -->
	
	<!-- <insert id="saveEducationInfo" parameterType="educationForm">

	<foreach collection="list" item="item" separator=","
		open="INSERT ALL" close="SELECT * FROM SYS.DUAL">
		INTO education VALUES
		(
		edu_seq.nextval, resume_seq.nextval, #{item.eduSortation}, #{item.schoolName},
		#{item.admission}, #{item.graduation}, #{item.major}, #{item.minor},
		#{item.grade}, #{item.totalScore}, #{item.graduationStatus}
		)
	</foreach>
	</insert> -->
	
<!-- 	<insert id="saveEducationInfo" parameterType="educationForm"> -->
	<!-- 여기가 되는코드 <insert id="saveEducationInfo" parameterType="hashmap">

	<foreach collection="resumeList" item="item"
		open="INSERT ALL" close="SELECT * FROM dual">
		INTO education VALUES
		(
		edu_seq.nextval, resume_seq.nextval, #{item.eduSortation}, #{item.schoolName},
		#{item.admission}, #{item.graduation}, #{item.major}, #{item.minor},
		#{item.grade}, #{item.totalScore}, #{item.graduationStatus}
		)
	</foreach>
	</insert> -->
	
	
	<insert id="saveEducationInfo" parameterType="hashmap">

	<foreach collection="resumeList" item="item"
		open="INSERT ALL" close="SELECT * FROM dual">
		INTO education VALUES
		(
		edu_seq.nextval, resume_seq.nextval, #{item.eduSortation}, #{item.schoolName},
		#{item.admission}, #{item.graduation}, #{item.major}, #{item.minor},
		#{item.grade}, #{item.totalScore}, #{item.graduationStatus}
		)
	</foreach>
	</insert>
	
</mapper>


