<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
					
<mapper namespace="user_mapper">
	
	
	<select id="findLoginCustomer" parameterType="Customer" resultType="Customer">
		SELECT * FROM job_customer WHERE user_id=#{userId} and password=#{password}
	</select>

	<select id="findCustomerInfo" parameterType="String" resultType="Customer">
		SELECT * FROM job_customer WHERE user_id = #{userId}
	</select>
	
	<update id="modifyCustomerInfo" parameterType="Customer">
		UPDATE job_customer
		SET name = #{name} ,
			birth = #{birth},
			phone = #{phone}
		WHERE user_id = #{userId}
		
	</update>
	
	
	
	
	<select id="pwCheck" resultType="String">
	select password from job_customer where user_id = #{userId}
	</select>
	
	<update id="pwUpdate">
	update job_customer set password = #{password} where user_id = #{userId}
	</update>
	
	<update id="modifyCustomerPw" parameterType="Customer">
		UPDATE job_customer
		SET password = #{password}
		WHERE user_id = #{userId}
	
	</update>
	
	<update id="removeCustomer" parameterType="Customer">
		UPDATE job_customer
		SET customer_status = #{customerStatus}
		WHERE user_id = #{userId}
	</update>
	
	<insert id="scrapNotice" parameterType="Scrap">
		insert into scrap VALUES 
		(seq_scrap_id.nextVal ,
		#{userId} ,
		#{postingId},
		#{scrapStatus}
		)
	</insert>
	
	<!-- 1:1 faq -->
	<insert id="customerFaq" parameterType="CustomerFaq">
		insert into customer_faq VALUES
		(seq_cus_faq_id.nextVal,
		#{customerFaqId},
		#{faqTitle},
		#{faqContent},
		#{userId},
		#{faqStatus}
		)
		
	</insert>
	
	<select id="customerScrapList" parameterType="String" resultType="Scrap">
		select * 
		from scrap s, job_posting j
		where s.posting_id = j.posting_id
		and user_id = #{userId}
	</select>
	
	<select id="scrapNoticeInfo" parameterType="String" resultType="Notice">
		select * from description d , scrap s, job_posting j
		where d.posting_id = s.posting_id and s.posting_id = j.posting_id and
		s.posting_id = #{postingId}
	</select>
	
	<delete id="removeCustomerScrapList" parameterType="String" >
		delete from scrap where user_id = #{userId}
	</delete>
	
	<delete id="removeCustomerScrapItem" parameterType="String" >
		delete from scrap where scrap_id = #{scrapId}
	</delete>
	
	<delete id="removeCustomerScrapItemByPostingId" parameterType="String">
		delete from scrap where posting_id = #{postingId}
	</delete>
	
</mapper>

	


