<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
					"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
					
<mapper namespace="user_mapper">
	
	
	<select id="findLoginCustomer" parameterType="Customer" resultType="Customer">
		SELECT * FROM job_customer WHERE user_id=#{userId} and password=#{password}
	</select>

	<select id="findCustomerInfo" parameterType="String" resultType="Customer">
		SELECT * FROM job_customer WHERE user_id = #{userId}
	</select>
	
	<update id="modifyCustomerInfo" parameterType="Customer">
		UPDATE job_customer
		SET name = #{name} ,
			birth = #{birth},
			phone = #{phone}
		WHERE user_id = #{userId}
		
	</update>
	
	<update id="modifyCustomerPw" parameterType="Customer">
		UPDATE job_customer
		SET password = #{password}
		WHERE user_id = #{userId}
	
	</update>
	
	<update id="removeCustomer" parameterType="Customer">
		UPDATE job_customer
		SET customer_status = #{customerStatus}
		WHERE user_id = #{userId}
	</update>
	
	
</mapper>

	


