/*
 * Noto Sans http://fonts.googleapis.com/earlyaccess/notosanskr.css
*/

@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:300;
    src: url(./NotoSansKR-Light.woff2) format('woff2'),
         url(./NotoSansKR-Light.woff) format('woff'),
         url(./NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:400;
    src: url(./NotoSansKR-Regular.woff2) format('woff2'),
         url(./NotoSansKR-Regular.woff) format('woff'),
         url(./NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:500;
    src: url(./NotoSansKR-Medium.woff2) format('woff2'),
         url(./NotoSansKR-Medium.woff) format('woff'),
         url(./NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:700;
    src: url(./NotoSansKR-Bold.woff2) format('woff2'),
         url(./NotoSansKR-Bold.woff) format('woff'),
         url(./NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family:'Noto Sans CJK JP';
    font-style:normal;
    font-weight:300;
    src: url(./NotoSansCJKjp-Light.woff2) format('woff2'),
         url(./NotoSansCJKjp-Light.woff) format('woff'),
         url(./NotoSansCJKjp-Light.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans CJK JP';
    font-style:normal;
    font-weight:400;
    src: url(./NotoSansCJKjp-Regular.woff2) format('woff2'),
         url(./NotoSansCJKjp-Regular.woff) format('woff'),
         url(./NotoSansCJKjp-Regular.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans CJK JP';
    font-style:normal;
    font-weight:500;
    src: url(./NotoSansCJKjp-Medium.woff2) format('woff2'),
         url(./NotoSansCJKjp-Medium.woff) format('woff'),
         url(./NotoSansCJKjp-Medium.otf) format('opentype');
}
@font-face {
    font-family:'Noto Sans CJK JP';
    font-style:normal;
    font-weight:700;
    src: url(./NotoSansCJKjp-Bold.woff2) format('woff2'),
         url(./NotoSansCJKjp-Bold.woff) format('woff'),
         url(./NotoSansCJKjp-Bold.otf) format('opentype');
}

h1, h2, h3, h4, h5, strong { font-weight:500; }