<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
					"http://mybatis.org/dtd/mybatis-3-config.dtd">
					

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>	
	</settings>
		
	
	<typeAliases>

		<typeAlias type="com.jobhub.dto.jobposting.Job" alias="Job"/>
		<typeAlias type="com.jobhub.dto.jobposting.Jobposting" alias="Jobposting"/>
		<typeAlias type="com.jobhub.dto.jobposting.Notice" alias="Notice"/>
		<typeAlias type="com.jobhub.dto.jobposting.Description" alias="Description"/>
		<typeAlias type="com.jobhub.dto.jobposting.FAQs" alias="FAQs"/>
		<typeAlias type="com.jobhub.dto.customer.Customer" alias="Customer"/>
		<typeAlias type="com.jobhub.dto.customer.Scrap" alias="Scrap"/>
		<typeAlias type="com.jobhub.dto.resume.ResumeEducationForm" alias="educationForm"/>
		<typeAlias type="com.jobhub.dto.admin.Admin" alias="Admin"/>
		<typeAlias type="com.jobhub.dto.admin.AdminProfile" alias="AdminProfile"/>
		<typeAlias type="com.jobhub.dto.admin.AdminSearchCondition" alias="AdminSearchCondition"/>
		<typeAlias type="com.jobhub.dto.employee.Employee" alias="Employee"/>
		<typeAlias type="com.jobhub.dto.employee.EmployeeProfile" alias="EmployeeProfile"/>
		<typeAlias type="com.jobhub.dto.employee.EmployeeJobsInfo" alias="EmployeeJobsInfo"/>
		<typeAlias type="com.jobhub.dto.employee.EmployeeSearchCondition" alias="EmployeeSearchCondition"/>
		<!-- <typeAlias type="com.jobhub.dto.util.FileInfo" alias="FileInfo"/> -->
		<typeAlias type="com.jobhub.dto.customer.Customer" alias="Customer"/>
		<typeAlias type="com.jobhub.dto.resume.Resume" alias="Resume"/>
		<typeAlias type="com.jobhub.dto.resume.ResumeSearchCondition" alias="ResumeSearchCondition"/>

   		<typeAlias type="com.jobhub.dto.jobposting.PostingSearchCondition" alias="PostingSearchCondition"/>

		
	</typeAliases>


</configuration>